html {
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}

html {
    background-color: #00539F;
}

body {
    width: 600px;
    margin: 20px auto;
    background-color: #FF9500;
    padding: 0px 20px 20px 20px;
    border: 3px solid black;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 10px black;
}

h2 {
    font-size: 30px;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    width: 200px;
    display: block;
    margin: 0 auto;
}
